<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Home</title>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
            body {
                margin: 0px;
                font-family: 'Roboto', sans-serif;
                background-color: #F2F0F0;
            }
            nav {
                background-color: #F1B9A5;
                padding: 10px;
            }
            nav ul {
                list-style: none;
                padding-left: 10px;
                display: flex;
            }
            nav li {
                padding-right: 10px;
            }
            nav a {
                text-decoration: none;
                font-size: 1.1rem;
                padding: 13px;
                background-color: #FFDDD2;
                color: black;
            }
            nav a:hover {
                border: solid white 1px;
            }
            h1 {
                text-align: center;
            }
            main {
                padding: 0px 20px;
            }
        </style>
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/auth/login">Login</a></li>
                <li><a href="/auth/logout">Logout</a></li>
            </ul>
        </nav>
        <header>
            <h1>Login using...</h1>
        </header>
        <main>
            <a class="google-btn" href="/auth/google">Google+</a>
        </main>
    </body>
</html>