<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Profile</title>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
            body {
                margin: 0px;
                font-family: 'Roboto', sans-serif;
                background-color: #F2F0F0;
            }
            nav {
                background-color: #F1B9A5;
                padding: 10px;
            }
            nav ul {
                list-style: none;
                padding-left: 10px;
                display: flex;
            }
            nav li {
                padding-right: 10px;
            }
            nav a {
                text-decoration: none;
                font-size: 1.1rem;
                padding: 13px;
                background-color: #FFDDD2;
                color: black;
            }
            nav a:hover {
                border: solid white 1px;
            }
            h1 {
                text-align: center;
            }
            main {
                padding: 0px 20px;
            }
            form {
                border: black solid 1px;
                padding: 25px;
            }
            label {
                display: block;
            }
            input {
                display: block;
                margin-bottom: 15px;
            }
            .message {
                padding: 15px;
                background-color: green;
                color: white;
            }
            /* The alert message box */
            .alert {
            padding: 20px;
            background-color: green;
            color: white;
            margin-bottom: 15px;
            }

            /* The close button */
            .closebtn {
            margin-left: 15px;
            color: white;
            font-weight: bold;
            float: right;
            font-size: 22px;
            line-height: 20px;
            cursor: pointer;
            transition: 0.3s;
            }

            /* When moving the mouse over the close button */
            .closebtn:hover {
            color: black;
            }
        </style>
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <% if (user) { %>
                <li><a href="/profile">Profile</a></li>
                <li><a href="/auth/logout">Logout</a></li>
                <% } else { %>
                <li><a href="/auth/login">Login</a></li>
                <% } %>
            </ul>
        </nav>
        <header>
            <h1>Welcome to your profile, <%= user.username %></h1>
        </header>
        <main>
            <% if (message) { %> 
                <div class="alert">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                    <%= message %>
                </div>
            <% } %>
            <form action="/events/" method="post">
                <h2>Post New Event</h2>
                <label for="title">Title</label>
                <input type="text" name="title" id="title" required>
                <label for="date">Date </label>
                <input type="date" name="date" id="date" required>
                <label for="time">Time</label>
                <input type="time" name="time" id="time" required>
                <label for="city">City</label>
                <input type="text" name="city" id="city" required>
                <label for="zip">Zip Code</label>
                <input type="text" name="zip" id="zip" required>
                <label for="address">Address</label>
                <input type="text" name="address" id="address" required>
                <label for="description">Description</label>
                <textarea name="description" id="description"></textarea>
                <input type="submit" value="Post">
            </form>
        </main>
    </body>
</html>